body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.grid-container {
  width: 800px;
  height: 800px;

  background-color: burlywood;
  display: flex;
  flex-wrap: wrap;
  
}

.grid-square {
  border: 1px solid black;
  background-color: peru;
  box-sizing: border-box;
}

.hovered {
  background-color: rgb(59, 59, 130);
}